{% extends 'carga/plantilla.html' %}
{% load i18n %}
{% load static %}

{% block content %}
	<div class="container-fluid tarjeta2">
		<div class="container col-md-2 " >
			<h1>Cargar Pedido</h1>
		</div>
	</div>
	<main class="container-fluid tarjeta1">
		<div id="formulario_pedido" class="row">
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
				<h2>Pedido</h2>
				</hr>				
				<form class="col-xs-12" action="{% url 'cargar' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="GUARDAR">
				</form>
			</div>
		</div>
	</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'carga/js/jquery-ui.js' %}" ></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $('#id_cliente').select2({
		placeholder: 'Elija cliente'
	});

	$('#id_vendedor').select2({
		placeholder: 'Elija Vendedor'
	})

	$.datepicker.regional['es'] = {
	closeText: 'Cerrar',
	prevText: '< Ant',
	nextText: 'Sig >',
	currentText: 'Hoy',
	monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
	monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
	dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
	dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
	dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
	weekHeader: 'Sm',
	dateFormat: 'dd/mm/yy',
	firstDay: 1,
	isRTL: false,
	showMonthAfterYear: false,
	yearSuffix: ''
	};
	$.datepicker.setDefaults($.datepicker.regional['es']);
   $(function () {
   $("#id_fecha").datepicker();
   });
   </script>
{% endblock %}
