@import "variables.scss";

.tarjeta1 {
  background-color: $celeste;
}
.tarjeta2 {
  background-color: darken($celeste, 5%);
}
.tarjeta3 {
  background-color: darken($celeste, 10%);
}

.linksmios {
  text-decoration: none;
  width: 200px;
}

.menuchingon {
  background-color: $gris;
}
